In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
%matplotlib inline

In [2]:
posts = pd.read_csv('https://raw.githubusercontent.com/WidhyaOrg/datasets/master/instagram_reach.csv')
posts.head()

,Unnamed: 0,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2 hours,23
2,2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2 hours,25
3,3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3 hours,49
4,4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3 hours,30

In [3]:
time  = posts['Time since posted']
time = time.str.split().tolist()

In [4]:
new_time = pd.DataFrame(time,columns=['Time','Hours'])

In [5]:
hours = new_time['Time'].astype('int64')

In [6]:
sample_df = pd.concat([hours,posts[['Followers','Likes']]],axis=1)

In [7]:
# sample_df.head()
# sample_df.info()

In [8]:
y = sample_df['Likes']
sample_df.drop('Likes', axis=1, inplace=True)

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [10]:
X_train, X_test, y_train, y_test = train_test_split(sample_df, y, test_size=0.2, random_state=42)

In [11]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(80, 2)
(20, 2)
(80,)
(20,)

In [20]:
reg = LinearRegression()

In [21]:
reg.fit(X_train,y_train)

LinearRegression()

In [50]:
with open('model','wb') as file:
    pickle.dump(reg, file)

In [22]:
with open('model','rb') as file:
    model = pickle.load(file)

In [23]:
model

LinearRegression()

In [28]:
model.predict([[10,300]])

array([108.75693473])

In [29]:
preds = model.predict(X_test)

In [30]:
mse = mean_squared_error(y_test,preds)

In [31]:
print(round(mse, 2))

541.01